.App {
  margin-left: 50px;
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.misstake {
  color: red;
}

.error {
  border: 1px solid red;
}
.is-done {
  opacity: 0.5;
}
.active-filter {
  background-color: aquamarine;
}
